{{>partials/header}}

{{#banner}}
<section class="banner" style="background-image: url('../../../public/images/{{background}}')">{{title}}</section>
<h2>{{title}} disponíveis para adoção</h2>
{{/banner}}

    <div>
        <br>
        <div>
            <br>
            <h2>OPS!! ERRO 404</h2>
            <br>
            <h2>...A página informada não existe... </h2>
        </div>
        <br>
    </div>
    <br>
    

   

{{>partials/footer}}