{{>partials/header}}

{{#banner}}
<section class="banner" style="background-image: url('../../../public/images/{{background}}')">{{title}}</section>
<h2>{{title}} disponíveis para adoção</h2>
{{/banner}}

<div class="container list">
    {{#pet}}
    <div class="item">
        <img src="../../../public/images/{{image}}" class="item--image" />
        <div class="item--name">{{name}}</div>
        <div class="item--color">Cor: {{color}} </div>
        <div class="item--genre">Gênero: {{sex}}</div>
    </div>
    {{/pet}}
   
</div>
    {{ ^pet }}
        <div class="container no-list">
            <h2>Atenção!! Não Existem animais disponíveis com os valores informados.</h2>
            <br>
            <h2>Por favor tente novamente ... </h2>
        </div>
    {{ /pet }}
    

   

{{>partials/footer}}